################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Backend/.vs
/.vs/Self Invoice/v17
/Backend/GiellyGreenTeam1/.vs/GiellyGreenTeam1/v17/HierarchyCache.v1.txt
