<nz-modal [nzMaskClosable]="false" nzCentered [(nzVisible)]="isVisible" nzWidth="750px" [nzFooter]="customModalFooter"
    nzTitle={{modalTitle}} (nzOnCancel)="handleCancel()">
    <ng-container *nzModalContent>
        <form nz-form [formGroup]="validateForm">
            <div class="container-fluid customContainer">
                <div class="row">
                    <div class="col-6">
                        <nz-form-label [nzSpan]="20">Supplier Reference Number</nz-form-label>
                        <nz-form-item>
                            <nz-form-control [nzSpan]="24" nzValidatingTip="Validating..."
                                [nzErrorTip]="supplierRefNoError">
                                <input #supplierReferenceNo class="form-control" nz-input
                                    formControlName="supplierRefNo" name="supplierRefNo" />
                                <ng-template #supplierRefNoError let-control>
                                    <ng-container *ngIf="control.hasError('required')">Please enter supplier reference
                                        number</ng-container>
                                    <ng-container *ngIf="control.hasError('pattern')">Only alphabets and digits are
                                        allowed</ng-container>
                                    <ng-container *ngIf="control.hasError('maxlength')">Upto 15 characters are allowed
                                    </ng-container>
                                </ng-template>
                            </nz-form-control>
                        </nz-form-item>
                    </div>
                    <div class="col-6">
                        <nz-form-label [nzSpan]="20">Supplier Name</nz-form-label>
                        <nz-form-item>
                            <nz-form-control [nzSpan]="24" nzValidatingTip="Validating..."
                                [nzErrorTip]="supplierNameError">
                                <input class="form-control" nz-input formControlName="supplierName"
                                    name="supplierName" />
                                <ng-template #supplierNameError let-control>
                                    <ng-container *ngIf="control.hasError('required')">Please enter supplier name
                                    </ng-container>
                                    <ng-container *ngIf="control.hasError('pattern')">Only Alphabets are allowed
                                    </ng-container>
                                </ng-template>
                            </nz-form-control>
                        </nz-form-item>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <nz-form-label [nzSpan]="7">Business Address</nz-form-label>
                        <nz-form-item>
                            <nz-form-control [nzSpan]="24" nzErrorTip="Upto 150 characters are allowed">
                                <nz-textarea-count [nzMaxCharacterCount]="150">
                                    <textarea class="form-control" formControlName="businessAddress"
                                        name="businessAddress" nz-input rows="2"></textarea>
                                </nz-textarea-count>
                            </nz-form-control>
                        </nz-form-item>
                    </div>
                </div>
                <div class="row">
                    <div class="col-6">
                        <nz-form-label [nzSpan]="7">E-mail Address</nz-form-label>
                        <nz-form-item>
                            <nz-form-control [nzSpan]="24" [nzErrorTip]="emailErr">
                                <input nz-input class="form-control" formControlName="emailAddress" id="emailAddress"
                                    email="true" />
                            </nz-form-control>

                            <ng-template #emailErr let-control>
                                <ng-container *ngIf="control.hasError('required')">
                                    Please enter email
                                </ng-container>
                                <ng-container *ngIf="control.hasError('email')">
                                    Please enter valid email
                                </ng-container>
                            </ng-template>
                        </nz-form-item>
                        <p *ngIf="isEmailDuplicate" class="text-danger">Email already exists</p>
                    </div>
                    <div class="col-6">
                        <nz-form-label [nzSpan]="7">Phone Number</nz-form-label>
                        <nz-form-item>
                            <nz-form-control [nzSpan]="24" [nzErrorTip]="phoneNumberErr">
                                <input nz-input class="form-control" formControlName="phoneNumber" name="phoneNumber" />
                            </nz-form-control>
                            <ng-template #phoneNumberErr let-control>
                                <ng-container *ngIf="control.hasError('pattern')">
                                    Only digits are allowed
                                </ng-container>
                                <ng-container *ngIf="control.hasError('maxlength')">
                                    Phone number must be of 15 digits only
                                </ng-container>
                            </ng-template>
                        </nz-form-item>
                    </div>
                </div>
                <div class="row">
                    <div class="col-6">
                        <nz-form-label [nzSpan]="18">Company Registered Number</nz-form-label>
                        <nz-form-item>
                            <nz-form-control [nzSpan]="24" [nzErrorTip]="companyRegisteredNumberErr">
                                <input nz-input class="form-control" formControlName="companyRegisteredNumber"
                                    name="companyRegisteredNumber" />
                            </nz-form-control>
                            <ng-template #companyRegisteredNumberErr let-control>
                                <ng-container *ngIf="control.hasError('pattern')">
                                    Only digits are allowed
                                </ng-container>
                                <ng-container *ngIf="control.hasError('maxlength')">
                                    Company registerd number must be of 15 digits only
                                </ng-container>
                            </ng-template>
                        </nz-form-item>
                    </div>
                    <div class="col-6">
                        <nz-form-label [nzSpan]="7">VAT Number</nz-form-label>
                        <nz-form-item>
                            <nz-form-control [nzSpan]="24" [nzErrorTip]="vatNumberErr">
                                <input nz-input class="form-control" formControlName="vatNumber" name="vatNumber" />
                            </nz-form-control>
                            <ng-template #vatNumberErr let-control>
                                <ng-container *ngIf="control.hasError('pattern')">
                                    Only digits and alphabets are allowed
                                </ng-container>
                                <ng-container *ngIf="control.hasError('maxlength')">
                                    VAT number must be of 15 characters only
                                </ng-container>
                            </ng-template>
                        </nz-form-item>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <nz-form-label [nzSpan]="14">TAX Reference</nz-form-label>
                        <nz-form-item>
                            <nz-form-control [nzSpan]="24" nzErrorTip="Only alphabets and digits are allowed">
                                <input class="form-control" maxlength="15" nz-input formControlName="taxReference"
                                    name="taxReference" />
                            </nz-form-control>
                        </nz-form-item>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <nz-form-label [nzSpan]="16">Company Registered Address</nz-form-label>
                        <nz-form-item>
                            <nz-form-control [nzSpan]="24" nzErrorTip="Upto 150 characters are allowed">
                                <nz-textarea-count [nzMaxCharacterCount]="150">
                                    <textarea class="form-control" formControlName="companyAddress"
                                        name="companyAddress" nz-input rows="2"></textarea>
                                </nz-textarea-count>
                            </nz-form-control>
                        </nz-form-item>
                    </div>
                </div>
                <div class="row">
                    <div class="col-6">
                        <nz-form-label [nzSpan]="12">Upload Supplier Logo</nz-form-label>
                        <nz-form-item>
                            <nz-form-control [nzSpan]="24">
                                <input nz-input formControlName="invoiceLogo" type="file" class="fileInput"
                                    accept=".png, .jpeg, .jpg" #logoUpload (change)="onFileSelected($event)"
                                    #fileUpload>
                                <div>
                                    <button nz-button (click)="fileUpload.click()">
                                        <fa-icon [icon]="uploadIcon" class="text-dark me-1"></fa-icon> Upload here
                                    </button><br>
                                    <img [src]="tempLogoData" [ngClass]="tempLogoData == null ? 'hideImageBox':''"
                                        class="mt-2 me-2" height="200" width="200">
                                    <br>
                                    <button [ngClass]="tempLogoData == null ? 'hideImageBox':''" class="btn text-danger"
                                        (click)="removeImage()">
                                        <fa-icon [icon]="iconDelete"></fa-icon> Delete
                                    </button>
                                </div>
                            </nz-form-control>
                        </nz-form-item>
                    </div>
                    <div class="col-6">
                        <nz-form-item>
                            <nz-form-label [nzSpan]="7">Is Active ?</nz-form-label>
                            <nz-form-control [nzSpan]="24">
                                <nz-switch class="customToggleSwitch" formControlName="isSupplierActive"></nz-switch>
                            </nz-form-control>
                        </nz-form-item>
                    </div>
                </div>
            </div>
        </form>
    </ng-container>
    <ng-template #customModalFooter>
        <button nz-button class="saveButton" (click)="handleOk()">Save</button>
        <button nz-button (click)="handleCancel()">Cancel</button>
    </ng-template>
</nz-modal>

<nz-layout>
    <nz-sider class="sideMenu" [nzBreakpoint]="'lg'" nzCollapsible [(nzCollapsed)]="isCollapsed" [nzTrigger]="null">
        <div>
            <img [src]="isCollapsed == true ? '':'assets/logo.png'" class="logo" alt="logo">
        </div>
        <ul nz-menu class="customMenu" nzMode="inline">
            <li nz-menu-item class="text-center">
                <a routerLink="/monthly-invoice" routerLinkActive="active" class="menuItemCustomColor">
                    <span *ngIf="isCollapsed">
                        <fa-icon [icon]="invoiceIcon" class="customMenuIcons"></fa-icon>
                    </span>
                    <span *ngIf="isCollapsed == false">MONTHLY INVOICE</span>
                </a>
            </li>
            <li nz-menu-item class="text-center">
                <a routerLink="/suppliers-list" routerLinkActive="active" class="menuItemCustomColor">
                    <span *ngIf="isCollapsed">
                        <fa-icon [icon]="supplierIcon" class="customMenuIcons"></fa-icon>
                    </span>
                    <span *ngIf="isCollapsed == false">SUPPLIERS LIST</span>
                </a>
            </li>
        </ul>
    </nz-sider>
    <nz-layout>
        <nz-header>
            <div class="row">
                <div class="col-11">
                    <i class="trigger" nz-icon [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"
                        (click)="isMenuCollapsed()"></i>
                </div>
                <div class="col-1">
                    <a nz-dropdown nzTrigger="click" [nzDropdownMenu]="menu">
                        <fa-icon [icon]="menuIcon" class="customMenuIcons"></fa-icon>
                    </a>
                    <nz-dropdown-menu #menu="nzDropdownMenu">
                        <ul nz-menu>
                            <li nz-menu-item>
                                <a routerLink="/profile" class="text-dark text-decoration-none"> <span class="me-2"><fa-icon [icon]="profileIcon" class="customMenuIcons"></fa-icon></span> Profile</a>
                            </li>
                            <li nz-menu-item>
                                <a (click)="logout()"><span class="me-2" ><fa-icon [icon]="logoutIcon" class="customMenuIcons"></fa-icon></span> Logout</a>
                            </li>
                        </ul>
                    </nz-dropdown-menu>
                </div>
            </div>
        </nz-header>
        <nz-content>
            <div class="inner-content">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12 col-md-12 col-lg-12">
                            <div class="row">
                                <div class="col-sm-3 col-md-3 col-lg-3 mt-3">
                                    <h3>Suppliers List</h3>
                                </div>
                                <div class="col-sm-12 col-md-9 col-lg-9">
                                    <div class="row">
                                        <div class="col-sm-3 col-md-6 col-lg-6 mt-3">
                                            <nz-input-group [nzPrefix]="suffixIconSearch" class="customSearchInput">
                                                <input type="text" [(ngModel)]="searchSupplier"
                                                    (keyup)="searchBySupplierOrReference()" nz-input
                                                    placeholder="Search here..." />
                                            </nz-input-group>
                                            <ng-template #suffixIconSearch>
                                                <i nz-icon nzType="search"></i>
                                            </ng-template>
                                        </div>
                                        <div class="col-sm-3 col-md-3 col-lg-3">
                                            <button nz-button class="addSupplierBtn mt-3" (click)="showModal(null)"
                                                [nzType]="'primary'">
                                                <fa-icon [icon]="plusIcon" class="me-2"></fa-icon> Add Supplier
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12 col-md-12 col-lg-12 mt-5">
                            <div class="table-responsive">
                                <nz-table #sortTable [nzPageSize]="100" [nzData]="supplierListData"
                                    nzTableLayout="fixed" [nzScroll]="{ y:'420px'}" class="customTable" width="100%">
                                    <thead>
                                        <tr>
                                            <th [nzSortFn]="sortReferenceNoFn">Supplier Reference</th>
                                            <th [nzSortFn]="sortNameFn">Supplier Name</th>
                                            <th>Status</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let data of sortTable.data">
                                            <td>{{data.SupplierReference}}</td>
                                            <td>{{data.SupplierName}}</td>
                                            <td>
                                                <nz-switch [(ngModel)]='data.Isactive' class="customSwitch"
                                                    (ngModelChange)="changeStatus(data)"></nz-switch>
                                            </td>
                                            <td>
                                                <a (click)="showModal(data)">
                                                    <fa-icon [icon]="editIcon" class="text-dark"></fa-icon>
                                                </a>
                                                <nz-divider nzType="vertical"></nz-divider>
                                                <a nz-popconfirm nzPopconfirmTitle="Sure to delete?"
                                                    (nzOnConfirm)="deleteSupplier(data.SupplierId)">
                                                    <fa-icon [icon]="deleteIcon" class="text-dark"></fa-icon>
                                                </a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </nz-table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </nz-content>
    </nz-layout>
</nz-layout>