/* You can add global styles to this file, and also import other style files */
body {
  font-family: "Dax-Regular" !important;
}

.printTableDiv {
  margin: 20px !important;
}

.tableToPrint {
  width: 90% !important;
}

.tableToPrint th {
  background: #2c2b29 !important;
  color: white !important;
}

.ant-switch-checked {
  background-color: #00C897 !important;
}

.ant-checkbox-input {
  -webkit-appearance: none !important; /*hides the default checkbox*/
}

.ant-checkbox-input:checked {
  background-color: #00c897 !important;
  border-color: #00c897 !important;
}

.ant-checkbox-input:checked:before {
  content: "✔" !important;
  color: white !important;
}
