/* You can add global styles to this file, and also import other style files */
body {
  font-family: "Dax-Regular" !important;
}

.printTableDiv {
  margin: 20px !important;
}

.tableToPrint {
  width: 90% !important;
}

.tableToPrint th {
  background: #2c2b29 !important;
  color: white !important;
}

.ant-switch-checked {
  background-color: #00C897 !important;
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.ant-checkbox-checked .ant-checkbox-inner {
  background-color: #00C897!important;
  border-color: #00C897 !important;
}  

.ant-layout-sider-trigger {
  font-size: 18px !important;
  background-color: #2c2b29 !important;
  line-height: 64px;
  padding: 0 24px;
  cursor: pointer;
  transition: color 0.3s;
}

.ant-layout-header{
  position: sticky !important;
}