<nz-layout>
    <nz-sider class="sideMenu" nzCollapsible [(nzCollapsed)]="isCollapsed" [nzTrigger]="null">
        <div>
            <img [src]="isCollapsed == true ? '':'assets/logo.png'" class="logo" alt="logo">
        </div>
        <ul nz-menu class="customMenu" nzMode="inline">
            <li nz-menu-item class="text-center">
                <a routerLink="/monthly-invoice" routerLinkActive="active" class="menuItemCustomColor">
                    <span *ngIf="isCollapsed" class="active"><fa-icon [icon]="invoiceIcon" class="customMenuIcons"></fa-icon></span>
                    <span *ngIf="isCollapsed == false" class="active">MONTHLY INVOICE</span>
                </a>
            </li>
            <li nz-menu-item class="text-center">
                <a routerLink="/suppliers-list" routerLinkActive="active" class="menuItemCustomColor">
                    <span *ngIf="isCollapsed"><fa-icon [icon]="supplierIcon" class="customMenuIcons"></fa-icon></span>
                    <span *ngIf="isCollapsed == false">SUPPLIERS LIST</span>
                </a>
            </li>
        </ul>
    </nz-sider>
    <nz-layout>
        <nz-header>
            <div class="row">
                <div class="col-11">
                    <i class="trigger" nz-icon [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"
                        (click)="isMenuCollapsed()"></i>
                </div>
                <div class="col-1">
                    <a nz-dropdown nzTrigger="click" [nzDropdownMenu]="menu">
                        <fa-icon [icon]="menuIcon" class="customMenuIcons"></fa-icon>
                    </a>
                    <nz-dropdown-menu #menu="nzDropdownMenu">
                        <ul nz-menu>
                            <li nz-menu-item>
                                <a routerLink="/profile" class="text-dark text-decoration-none"><span class="me-2"><fa-icon [icon]="profileIcon" class="customMenuIcons"></fa-icon></span> Profile</a>
                            </li>
                            <li nz-menu-item>
                                <a (click)="logout()"><span class="me-2"><fa-icon [icon]="logoutIcon" class="customMenuIcons"></fa-icon></span> Logout </a>
                            </li>
                        </ul>
                    </nz-dropdown-menu>
                </div>
            </div>
          </nz-header>
        <nz-content>
            <div class="inner-content">
                <div class="container-fluid customContainer">
                    <div class="row">
                        <div class="col-sm-12 col-md-3 col-lg-3 mt-3">
                            <h3>Monthly Invoice</h3>
                        </div>
                        <div class="col-sm-12 col-md-5 col-lg-5 mt-3">
                            <nz-form-item>
                                <nz-form-label class="fs-5 fw-400">Choose Month</nz-form-label>
                                <nz-form-control>
                                    <nz-date-picker nzMode="month" [(ngModel)]="month" [nzFormat]="'MM/yyyy'"
                                        (ngModelChange)="onChange($event)"></nz-date-picker>
                                </nz-form-control>
                            </nz-form-item>
                        </div>
                        <div class="col-sm-12 col-md-4 col-lg-4 mt-3 d-flex justify-content-end">
                            <button nz-button class="btn-custom" (click)="printReport()">
                                Print Report
                            </button>
                        </div>
                    </div>

                    <div class="row" id="printSection">
                        <div class="col-sm-12 col-md-12 col-lg-12 mt-5" *ngIf="isVisible">
                            <div class="row mb-3">
                                <div class="col-sm-12 col-md-3 col-lg-3 me-3">
                                    <nz-form-item>
                                        <nz-form-label class="fs-5 fw-400">Date</nz-form-label>
                                        <nz-form-control>
                                            <nz-date-picker [(ngModel)]="invoiceDate"
                                                (ngModelChange)="onDateChange($event)" [nzFormat]="'dd/MM/yyyy'">
                                            </nz-date-picker>
                                            <!-- <input type="date" nz-input [(ngModel)]="invoiceDate"> -->
                                        </nz-form-control>
                                    </nz-form-item>
                                </div>
                                <div class="col-sm-12 col-md-5 col-lg-5">
                                    <nz-form-item>
                                        <nz-form-label class="fs-5 fw-400 me-2">Invoice Reference</nz-form-label>
                                        <nz-form-control>
                                            <input nz-input class="form-control" [(ngModel)]="invoiceReferenceNumber">
                                        </nz-form-control>
                                    </nz-form-item>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12">
                                    <div class="table-responsive">
                                        <nz-table [nzShowPagination]="false" [nzPageSize]="100" #rowSelectionTable
                                            [nzLoading]="showLoader" [nzData]="monthlyInvoiceData">
                                            <thead>
                                                <tr>
                                                    <th [(nzChecked)]="checked" [nzIndeterminate]="indeterminate"
                                                        (nzCheckedChange)="onAllChecked($event)" nzLeft></th>
                                                    <th nzWidth="100px">Supplier Name</th>
                                                    <th nzWidth="100px"> Hair Services</th>
                                                    <th nzWidth="100px">Beauty Services</th>
                                                    <th nzWidth="100px"><input class="w-100" nz-input [(ngModel)]="customHeader1"
                                                            placeholder="Custom-1"></th>
                                                    <th nzWidth="100px"><input class="w-100" nz-input [(ngModel)]="customHeader2"
                                                            placeholder="Custom-2"></th>
                                                    <th nzWidth="100px"><input class="w-100" nz-input [(ngModel)]="customHeader3"
                                                            placeholder="Custom-3"></th>
                                                    <th nzWidth="100px"><input class="w-100" nz-input [(ngModel)]="customHeader4"
                                                            placeholder="Custom-4"></th>
                                                    <th nzWidth="100px"><input class="w-100" nz-input [(ngModel)]="customHeader5"
                                                            placeholder="Custom-5"></th>
                                                    <th nzWidth="100px">Net</th>
                                                    <th nzWidth="100px">VAT</th>
                                                    <th nzWidth="100px">Gross</th>
                                                    <th nzWidth="100px">Advance Paid</th>
                                                    <th nzWidth="100px">Balance Due</th>
                                                    <th nzRight>Approved</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr *ngFor="let data of rowSelectionTable.data" id="data.SupplierId">
                                                    <td nzLeft class="text-center" >
                                                        <input type="checkbox" class="customCheckBox"
                                                            [checked]="setOfCheckedId.has(data.SupplierId)"
                                                            (change)="onItemChecked(data.SupplierId)">
                                                    </td>
                                                    <!-- <td [nzChecked]="setOfCheckedId.has(data.SupplierId)"  (nzCheckedChange)="onItemChecked(data.SupplierId, $event)" nzLeft></td> -->
                                                    <td>{{data.SupplierName}}</td>
                                                    <td><input type="number" nz-input class="w-100"
                                                            [(ngModel)]="data.HairService"
                                                            (change)="onAmountChange(data)" [disabled]="data.IsApprove">
                                                    </td>
                                                    <td><input type="number" nz-input class="w-100"
                                                            [(ngModel)]="data.BeautyService"
                                                            (change)="onAmountChange(data)" [disabled]="data.IsApprove">
                                                    </td>
                                                    <td><input type="number" nz-input class="w-100"
                                                            [(ngModel)]="data.CustomHeader1"
                                                            (change)="onAmountChange(data)" [disabled]="data.IsApprove">
                                                    </td>
                                                    <td><input type="number" nz-input class="w-100"
                                                            [(ngModel)]="data.CustomHeader2"
                                                            (change)="onAmountChange(data)" [disabled]="data.IsApprove">
                                                    </td>
                                                    <td><input type="number" nz-input class="w-100"
                                                            [(ngModel)]="data.CustomHeader3"
                                                            (change)="onAmountChange(data)" [disabled]="data.IsApprove">
                                                    </td>
                                                    <td><input type="number" nz-input class="w-100"
                                                            [(ngModel)]="data.CustomHeader4"
                                                            (change)="onAmountChange(data)"  [disabled]="data.IsApprove">
                                                    </td>
                                                    <td><input type="number" nz-input class="w-100"
                                                            [(ngModel)]="data.CustomHeader5"
                                                            (change)="onAmountChange(data)" [disabled]="data.IsApprove">
                                                    </td>
                                                    <!-- <td><input type="number" nz-input class="w-100" [(ngModel)]="data.NetAmount" (change)="onAmountChange(data)" [disabled]="data.IsApprove"></td> -->
                                                    <td>{{getNetAmount(data) | number : '1.2-2'}}</td>
                                                    <td>{{getVATAmount(data) | number : '1.2-2'}}</td>
                                                    <td>{{getGrossAmount(data) | number : '1.2-2'}}</td>
                                                    <td><input appAdvancePayBrackets nz-input class="w-100"
                                                            [(ngModel)]="data.AdvancePay"
                                                            (change)="onAmountChange(data)" id="advancePay" [disabled]="data.IsApprove">
                                                    </td>
                                                    <!-- <td>{{getBalanceDue(data)}}</td> -->
                                                    <td>{{getBalanceDue(data) >= 0 ? (getBalanceDue(data) | number :
                                                        '1.2-2') : '(' + getBalanceDue(data).toFixed(2) + ')'}}</td>
                                                    <td nzRight><input disabled [checked]="data.IsApprove" class="check"
                                                            nz-input type="checkbox" id="{{data.SupplierId}}"></td>
                                                </tr>
                                                <tr>
                                                    <td [colSpan]="9" class="fs-6 text-center"><b>Total</b></td>
                                                    <td >{{totalNetAmount(rowSelectionTable.data) | number : '1.2-2'}}
                                                    </td>
                                                    <td>{{totalVATAmount(rowSelectionTable.data) | number : '1.2-2'}}
                                                    </td>
                                                    <td >{{totalGrossAmount(rowSelectionTable.data) | number : '1.2-2'}}
                                                    </td>
                                                    <td>{{totalAdvancePayment(rowSelectionTable.data) | number :
                                                        '1.2-2'}}</td>
                                                    <td>{{totalBalanceDue(rowSelectionTable.data) | number : '1.2-2'}}
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </nz-table>
                                    </div>
                                </div>
                            </div>
                            <div class="row mt-3" *ngIf="isVisible">
                                <div class="col-sm-12 col-md-3 col-lg-3" >
                                    <button nz-button class="btn customFooterButton" [ngClass]="netTotal > 0.00 ? 'showButtons':'hideButtons'" (click)="approveSelectedSupplier()"><img src="assets/Vectorapprove.png" class="approveImage me-2">APPROVE SELECTED INVOICES</button>
                                </div>
                                <div class="col-sm-12 col-md-3 col-lg-3" >
                                    <button nz-button class="btn customFooterButton downloadButton" [ngClass]="netTotal > 0.00 ? 'showHideButtons':'hideButtons'" (click)="downloadCombinePDF()"> <img src="assets/VectorcombineDownload.png" class="approveImage me-2" >COMBINE & DOWNLOAD SELECTED INVOICES</button>
                                </div>
                                <div class="col-sm-12 col-md-3 col-lg-3" >
                                    <button nz-button class="btn customFooterButton" [ngClass]="netTotal > 0 ? 'showHideButtons':'hideButtons'" (click)="sendEmail()"><img src="assets/Vectoremail.png" class="approveImage me-2">EMAIL SELECTED INVOICES</button>
                                </div>
                                <div class="col-sm-12 col-md-3 col-lg-3 d-flex justify-content-end">
                                    <button nz-button class="btn saveButton" (click)="saveData()">SAVE</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </nz-content>
    </nz-layout>
</nz-layout>

<div class="container-fluid" id="printableDiv">
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12">
            <h3>Monthly Invoice</h3>
            <div class="row">
                <div class="col-3" style="display:flex">Date: {{invoiceDate}} </div>
                <div class="col-3" style="display:flex">Month: {{monthForInvoice}}</div>
                <div class="col-3" style="display:flex">Invoice Reference: {{monthForInvoice }}</div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12">
            <nz-table #printTable [nzShowPagination]="false" [nzData]="monthlyInvoiceData" class="tableToPrint">
                <thead>
                    <tr>
                        <th>Supplier Name</th>
                        <th>Hair Services</th>
                        <th>Beauty Services</th>
                        <th>{{customHeader1}}</th>
                        <th>{{customHeader2}}</th>
                        <th>{{customHeader3}}</th>
                        <th>{{customHeader4}}</th>
                        <th>{{customHeader5}}</th>
                        <th>Net</th>
                        <th>Gross</th>
                        <th>VAT</th>
                        <th>Advance Paid</th>
                        <th>Balance Due</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let data of printTable.data" id="{{data.sid}}">
                        <td>{{data.SupplierName}}</td>
                        <td>{{data.HairService | number : '1.2-2'}}</td>
                        <td>{{data.BeautyService | number : '1.2-2'}}</td>
                        <td>{{data.CustomHeader1 | number : '1.2-2'}}</td>
                        <td>{{data.CustomHeader2 | number : '1.2-2'}}</td>
                        <td>{{data.CustomHeader3 | number : '1.2-2'}}</td>
                        <td>{{data.CustomHeader4 | number : '1.2-2'}}</td>
                        <td>{{data.CustomHeader | number : '1.2-2'}}</td>
                        <td>{{data.NetAmount | number : '1.2-2'}}</td>
                        <td>{{data.GrossAmount | number : '1.2-2'}}</td>
                        <td>{{data.VATAmount | number : '1.2-2'}}</td>
                        <td>{{data.AdvancePay}}</td>
                        <td>{{data.BalanceDue | number : '1.2-2'}}</td>

                        <!-- getBalanceDue(data) >= 0 ? (getBalanceDue(data) | number :
                                                        '1.2-2') : '(' + getBalanceDue(data).toFixed(2) + ')' -->

                    </tr>
                    <tr>
                        <td [colSpan]="8" class="fs-6 fw-bold text-center">Total</td>
                        <td>{{totalNetAmount(printTable.data) | number : '1.2-2'}}</td>
                        <td>{{totalVATAmount(printTable.data) | number : '1.2-2'}}</td>
                        <td>{{totalGrossAmount(printTable.data) | number : '1.2-2'}}</td>
                        <td>{{totalAdvancePayment(printTable.data) | number : '1.2-2'}}</td>
                        <td>{{totalBalanceDue(printTable.data) | number : '1.2-2'}}</td>
                    </tr>
                </tbody>
            </nz-table>
        </div>
    </div>
</div>