.sideMenu {
  background-color: #2c2b29;
}

.customMenu {
  background-color: #2c2b29;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
}

.menuItemCustomColor {
  color: #c99d4a !important;
  text-decoration: none;
}

.customMenuIcons{
  font-size: 18px;
  color: #c99d4a !important;
}

.logo {
  position: absolute;
  width: 270px;
  height: 40px;
  left: -20%;
  top: 30px;
}

.trigger {
  font-size: 18px;
  line-height: 64px;
  padding: 0 24px;
  color: #c99d4a;
  cursor: pointer;
  transition: color 0.3s;
}

.trigger:hover {
  color: #1890ff;
}

nz-header {
  background: #2c2b29;
  padding: 0;
}

nz-content {
  background: #fff;
}

.inner-content {
  background: #fff;
  min-height: 100vh;
}

.btn-custom {
  background-color: rgb(201, 157, 74);
  border-color: rgb(201, 157, 74);
  color: #fff;
  font-size: 15px;
  width: 30%;
  border-radius: 5px;
}

th {
  background-color: #2c2b29 !important;
  color: white !important;
}

.customFooterButton {
  border-color: #2c2b29;
  font-size: 13.5px;
  width: 100%;
}

.saveButton {
  background-color: #c99d4a;
  color: white;
  border-color: #c99d4a;
}

.approveImage {
  height: 18px;
  width: 18px;
}

.downloadButton {
  font-size: 12px;
}

#printableDiv {
  display: none;
}

.check {
  -webkit-appearance: none; /*hides the default checkbox*/
  height: 20px;
  width: 20px;
  position: relative;
  top: 10px;
  left: 10px;
  bottom: 10px;
  transition: 0.1s;
  background-color: #cfd3d866;
  text-align: center;
  font-weight: 200;
  color: white;
  border-radius: 3px;
  outline: none;
}

.check:checked {
  background-color: #e5ffdd;
  border-color: #e5ffdd;
}

.check:before {
  content: "✖";
  color: #cfd3d8;
}

.check:checked:before {
  content: "✔";
  color: #1fba70;
}

.check:hover {
  cursor: pointer;
  opacity: 0.5;
}

.customCheckBox {
  -webkit-appearance: none !important; /*hides the default checkbox*/
  height: 20px;
  width: 20px;
  position: relative;
  top: 10px;
  bottom: 10px;
  transition: 0.1s;
  background-color: #cfd3d866;
  text-align: center;
  font-weight: 200;
  color: white;
  border-radius: 3px;
  outline: none;
}

.customCheckBox:checked {
  background-color: #00c897 !important;
  border-color: #00c897 !important;
}

.customCheckBox:checked:before {
  content: "✔" !important;
  color: white !important;
}

@page {
  size: auto !important;
}

@media print {
  table {
    -webkit-print-color-adjust: exact;
  }

  #printableDiv{
    display: block !important;
  }

  #printSection{
    display: none !important;
  }

  nz-layout{
    display: none !important;
  }  
} 
