@import url('http://fonts.cdnfonts.com/css/dax');

body {
    font-size: 24px;
}

.mypadding {
    padding-top: 6rem;
}

.mypadding1 {
    padding-top: 13rem;
}

.mypadding2 {
    padding-top: 13rem;
    height:52rem;
}

.custompagebreak {
    page-break-after: always;
}
.custompagebreak:last-child {
    page-break-after: auto;
}

.centered {
    top: 50%;
}

.split {
    height: 100%;
    width: 50%;
    position: fixed;
    padding-top: 20px;
    word-break: break-word;
}

.left {
    left: 20px;
}

.right {
    right: 0;
    text-align: right;
    padding-right: 20px;
    word-break: break-word;
}

* {
    box-sizing: border-box;
}

.column {
    float: left;
    width: 50%;
    padding: 10px;
    height: 150px;
}

.columnHeader {
    float: left;
    width: 50%;
    padding: 10px;
    height: 70px;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

table {
    border: none;
    border-collapse: collapse;
    font-size: 20px;
}

th, td {
    padding: 6px;
}

.customdescription {
    width: 60%;
}

.mytablecell {
    border: 1px solid gray;
    border-collapse: collapse;
}

.amountalignheader {
    text-align: right;
    font-weight: bold;
}

.amountalign {
    text-align: right;
}

.customfooter{
    text-align:left;
}
